<div class="w-full h-[75px] flex items-center relative">
    <button
        class="bg-black w-auto h-[50px] p-2 rounded absolute right-2 text-white"
        (click)="showForm = !showForm; isUpdate = false"
    >
        Ajouter un élément
    </button>
</div>
<app-modal-component [showForm]="showForm" nom="fournisseurs">
    <form
        class="flex flex-col w-5/6 justify-center align-middle"
        action="javascript:void(0)"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
    >
        <input *ngIf="isUpdate" type="hidden" name="id" [(ngModel)]="idValue" />
        <n-input name="Nom">
            <input
                name="namesupplier"
                type="text"
                [(ngModel)]="namesupplierValue"
            />
        </n-input>
        <app-submit-button></app-submit-button>
    </form>
    <br /></app-modal-component
><n-table>
    <thead
        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
    >
        <tr>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                id
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Nom
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Action
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr
            class="text-gray-700 dark:text-gray-400"
            *ngFor="
                let line of all
                    | paginate : { itemsPerPage: 10, currentPage: pages }
            "
        >
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
                {{ line.id }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
                {{ line.namesupplier }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 flex justify-around"
            >
                <button (click)="delete(line.id)" class="text-red-500">
                    <mat-icon>delete</mat-icon>
                </button>
                <button
                    (click)="update(line.id); showForm = !showForm"
                    class="text-purple-500"
                >
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</n-table>

<div>
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>
