/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MADE Dillan";
}
@font-face {
  font-family: "Sweet Sans Pro Light";
}

.logo{
  font-family: "MADE Dillan", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.made-dillan-font{
    font-family: "MADE Dillan", Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
}
.second-font{
  font-family: "PT Sans",Arial,Helvetica,sans-serif;
  font-size: 15px;
}
.second-font-non-sized{
    font-family: "Sweet Sans Pro Light",Arial,Helvetica,sans-serif;
}
/* movement-type.component.css */

::ng-deep pagination-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}