<div *ngIf="show" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 bg-gray-500 bg-opacity-75 backdrop-blur-md w-full outline-none focus:outline-none justify-center items-center flex ">
    <div class="relative w-[85%] h-auto my-6 mx-auto  flex flex-col items-center justify-center">
        <div class="border-0 rounded-lg shadow-lg relative grid grid-cols-3 w-1/3 h-[80vh] bg-transparent backdrop-blur-3xl outline-none focus:outline-none">
                <!-- <div class="col-span-2 bg-transparent flex justify-center items-center opacity-75">
                    <img src="{{link}}" alt="">
                </div> -->
                <form #formCart="ngForm" method="post" action="#" (ngSubmit)="onSubmit(formCart)"  class="col-span-3 rounded-xl bg-white">
                    <div class="flex flex-row justify-between items-center p-3 h-[15%]">
                        <h1 class="text-4xl uppercase ">{{name}}</h1>
                        <p class="second-font">Ariary {{Number(price)*Number(quantity)}}</p>
                    </div>
                    <div class="h-[400px] tracking-wider p-3 flex justify-center overflow-hidden items-center">
                        <div class="col-span-2 bg-transparent flex justify-center h-full items-center opacity-75">
                            <img src="{{link}}" class="object-cover" alt="">
                        </div>
                    </div>
                    <div class="w-full h-[10%] flex flex-row gap-2 p-2">
                        <div class="h-full w-full border-t-2 border-black border-b-2 flex flex-row justify-around align-middle items-center ">
                            <input type="hidden" name="id"  [(ngModel)]="id">
                            <mat-icon (click)="decreaseQuantity()">remove</mat-icon>
                            <input type="number" class="outline-0 w-[40px]" value="{{quantity}}" min="0" max="" id="" name="quantity" [(ngModel)]="quantity">
                            <mat-icon (click)="increaseQuantity();console.log(quantity)">add</mat-icon>
                        </div>
                    </div>
                    <div class="h-[20%] flex justify-center items-center p-2">
                        <input type="submit" class="h-1/2 w-full bg-black text-white uppercase second-font text-7xl rounded-xl" value="Ajouter au panier">
                    </div>
                    <div class="h-[15%] w-full p-2">
                        <span class="text-gray-400 second-font">Le produit peut être récupéré au point de vente de l'établissement.</span>
                        <br>
                        <span class="cursor-pointer underline text-gray-400" (click)="show=!show">Aller voir au shop</span>
                    </div>
                </form>
        </div>
    </div>
</div>
