<div *ngIf="showCart" class="w-full h-full bg-black bg-opacity-50 backdrop-blur-sm z-50 absolute">
    <div class="w-1/2 bg-white overflow-y-scroll h-full absolute -right-0 ">
        <div class="sticky w-full h-[100px] bg-white px-10 flex flex-row justify-between items-center border-b-2 border-b-amber-400">
            <h1 class="second-font-non-sized text-3xl uppercase ">Votre panier</h1>
            <div (click)="showCart=false ; toggleShowCart()" class="uppercase cursor-pointer hover:underline">
                <span>Close </span><span> [ x ]</span>
            </div>
        </div>
        <div class="w-full h-[80vh] sticky">
            <app-rating [rating]="3.5"></app-rating>
            <app-cart-elements *ngFor="let item of cartContent" [item]="item">
            </app-cart-elements>
        </div>
        <div class="h-[100px]  w-full">
            <button (click)="saveCart()">Purchase Items</button>
        </div>
    </div>
    
</div>
