app.basePath=C:\\Users\\solo_\\Documents\\ITU\\S4\\GP\\Projet\\Projet-Bee-z-nice\\bee-z-nice-back\\src\\main\\java\\itu\\project\\beezniceback
app.basePackage=itu.project.beezniceback
#app.frontBasePath=C:\\Users\\solo_\\Documents\\ITU\\S4\\GP\\Projet\\
#app.frontBaseModification=C:\\Users\\solo_\\Documents\\ITU\\S4\\GP\\Projet\\
app.frontBasePath=C:\\Users\\solo_\\Documents\\ITU\\S4\\GP\\Projet\\Projet-Bee-z-nice\\bee-z-nice-front\\
app.frontBaseModification=C:\\Users\\solo_\\Documents\\ITU\\S4\\GP\\Projet\\Projet-Bee-z-nice\\bee-z-nice-front\\src\\app\\components

app.thead= <thead class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
app.tbody= <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
app.td= <td class="px-6 py-4">
app.th= <th scope="col" class="px-6 py-4">
app.tbodytr= <tr class="text-gray-700 dark:text-gray-400" *ngFor="let line of all | paginate:{ itemsPerPage: 10, currentPage: pages }">

#let line of all can't be replaced