
<div class="w-full h-[75px] flex items-center relative">
	<button (click)="showForm = !showForm;isUpdate=false"
		class="bg-black w-auto h-[50px] p-2 rounded absolute right-2 text-white">
		Ajouter un élément 
	</button>
</div>
<app-modal-component [showForm]="showForm" nom="plats">
	<form #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="flex flex-col w-5/6 justify-center align-middle"
    action="javascript:void(0)"
    enctype="multipart/form-data">
    <input *ngIf="isUpdate" [(ngModel)]="idValue" type="hidden" name="id">
    <n-input name="Nom">
        <input [(ngModel)]="dishesnameValue" name="dishesname" type="text">
    </n-input>
    <n-input name="Fournisseur">
        <select [(ngModel)]="idsupplierValue" name="idsupplier">
            <option *ngFor="let item of listSupplier" [value]="item.id">{{ item.namesupplier }}</option>
        </select>
    </n-input>
    <n-input name="Prix de vente">
        <input [(ngModel)]="sellingpriceValue" name="sellingprice"type="number">
    </n-input>
    <n-input name="Prix d'achat">
        <input [(ngModel)]="purchasepriceValue" name="purchaseprice"  type="number">
    </n-input>
    <n-input name="Type">
        <select [(ngModel)]="idtypeValue" name="idtype">
            <option *ngFor="let item of listDishetype" [value]="item.id">{{ item.libelle }}</option>
        </select>
    </n-input>
    <n-input name="Image">
        <input name="image" type="file" (change)="onFileChange($event)" accept="image/*">
    </n-input>
    
    <app-submit-button></app-submit-button>
</form>

	<br>
</app-modal-component>
<n-table class="w-full">
	<thead class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
		<tr>
			<th scope="col"
				class="px-6 py-4 text-center">
				id
			</th>
			<th scope="col"
				class="px-6 py-4 text-center">
				NOM DE PLAT
			</th>
			<th scope="col"
				class="px-6 py-4 text-center">
				FOURNISSEUR
			</th>
			<th scope="col"
				class="px-6 py-4 text-center">
				PRIX DE VENTE
			</th>
			<th scope="col"
				class="px-6 py-4 text-center">
				PRIX D'ACHAT
			</th>
			<th scope="col"
				class="px-6 py-4 text-center">
				libelle
			</th>
			<th scope="col"
				class="px-6 py-4 text-center">
				Nom de l'image
			</th>
			<th scope="col"
			class="px-6 py-4 text-center">
			Actions
			</th>

		</tr>
	</thead>
	<tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
		<tr *ngFor="let line of all | paginate:{ itemsPerPage: 10, currentPage: pages }"
			class="text-gray-700 dark:text-gray-400">
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center ">{{line.id}}</td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center ">{{line.dishesname}}</td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center ">
				{{line.namesupplier}}
			</td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center ">
				{{line.sellingprice | number:'1.0-2'}} Ariary
			</td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center ">
				{{line.purchaseprice | number:'1.0-2'}} Ariary
			</td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center ">{{line.libelle}}</td>
			<td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center h-[50px] "
            >
                <div class="w-full h-full flex justify-center items-center  overflow-hidden">
                    <img class="w-[50px] h-[50px] object-cover rounded-full" src="{{imagePath}}/{{ line.image }}"/>
                </div>
            </td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 flex justify-around">
				<button (click)="delete(line.id)" class="text-red-500"><mat-icon>delete</mat-icon></button>
				<button (click)="update(line.id);showForm=!showForm" class="text-purple-500"><mat-icon>edit</mat-icon></button>
			</td>
		</tr>


	</tbody>
</n-table>


<div>
	<pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>
