 <div class="w-full h-[75px] flex items-center relative">
     <button class="bg-black w-auto h-[50px] p-2 rounded absolute right-2 text-white" (click)="showForm = !showForm;isUpdate=false">
         Add a new element
     </button>
 </div>
<app-modal-component [showForm]="showForm">

<form class="flex flex-col w-5/6 justify-center align-middle" action="javascript:void(0)" #form="ngForm" (ngSubmit)="onSubmit(form)">
<input *ngIf="isUpdate" type="hidden" name="id" [(ngModel)]="idValue">
    <n-input name="Dishe">
        <select name="iddishe" [(ngModel)]="iddisheValue">
            <option *ngFor="let item of listDishes" value="{{item.id}}" >{{item.dishesname}}</option>
        </select>
    </n-input>
    <n-input name="User">
        <select name="iduser" [(ngModel)]="iduserValue">
            <option *ngFor="let item of listCustomers" value="{{item.id}}" >{{item.name}}</option>
        </select>
    </n-input>
        <n-input name="Quantity">
            <input name="quantity" placeholder="Quantity" type="number" [(ngModel)]="quantityValue">
        </n-input>
<app-submit-button></app-submit-button>
</form><br></app-modal-component><n-table>
    <thead class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
        <tr>
            <th scope="col" class="px-6 py-4">id</th>
<th scope="col" class="px-6 py-4">dishesname</th>
<th scope="col" class="px-6 py-4">name</th>
<th scope="col" class="px-6 py-4">quantity</th>

        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-400" *ngFor="let line of all | paginate:{ itemsPerPage: 10, currentPage: pages }">
<td class="px-6 py-4">{{line.id}}</td>
<td class="px-6 py-4">{{line.dishesname}}</td>
<td class="px-6 py-4">{{line.name}}</td>
<td class="px-6 py-4">{{line.quantity}}</td>
<td class="px-6 py-4"><button (click)="delete(line.id)">Supprimer</button></td>
<td class="px-6 py-4"><button (click)="update(line.id);showForm=!showForm">Update</button></td>
</tr>

    </tbody>
</n-table>

<div>
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>

