<div class="flex items-center p-8 bg-white shadow rounded-lg">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
      <mat-icon>{{icone}}</mat-icon>
    </div>
    <div>
      <span class="inline-block text-2xl font-bold">{{money | number:'1.0-2' }} Ariary</span>
      <!-- <span class="inline-block text-xl text-gray-500 font-semibold">(14%)</span> -->
      <span class="block text-gray-500">{{label}}</span>
    </div>
</div>