<app-modal-component [showForm]="showForm">
    <form
        class="flex flex-col w-5/6 justify-center align-middle"
        action="javascript:void(0)"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
    >
        <input type="hidden" name="id" [(ngModel)]="idValue" />
        <n-input name="SupplierUnpayed">
            <select [(ngModel)]="idsupplierUnPayedValue" name="idUnPayed">
                <option *ngFor="let item of allUnPayed" [value]="item.id">
                    {{
                        item.namesupplier +
                            "-" +
                            item.month +
                            "-" +
                            item.year +
                            "-" +
                            item.amount
                    }}
                </option>
            </select>
        </n-input>
        <app-submit-button></app-submit-button>
    </form>
    <br /></app-modal-component
><n-table>
    <thead
        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
    >
        <tr>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                id
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Fournisseurs
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                MOIS
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Année
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Dette
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Action
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr
            class="text-gray-700 dark:text-gray-400 p-5"
            *ngFor="
                let line of allUnPayed
                    | paginate : { itemsPerPage: 10, currentPage: pages }
            "
        >
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-center"
            >
                {{ line.id }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-center"
            >
                {{ line.namesupplier }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-center"
            >
                {{ line.month }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-center"
            >
                {{ line.year }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-center"
            >
                {{ line.amount | number : "1.0-2" }} Ariary
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-center"
            >
                <input
                    type="submit"
                    (click)="onSubmit(line.id)"
                    class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    value="Payer"
                />
            </td>
        </tr>
    </tbody>
</n-table>

<div>
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>
