<div class="w-full h-[75px] flex items-center relative">
    <button
        class="bg-black w-auto h-[50px] p-2 rounded absolute right-2 text-white"
        (click)="showForm = !showForm; isUpdate = false"
    >
        Add a new element
    </button>
</div>
<app-modal-component [showForm]="showForm">
    <form
        class="flex flex-col w-5/6 justify-center align-middle"
        action="javascript:void(0)"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
    >
        <input *ngIf="isUpdate" type="hidden" name="id" [(ngModel)]="idValue" />
        <n-input name="Dishes">
            <select name="iddishes" [(ngModel)]="iddishesValue">
                <option *ngFor="let item of listDishes" value="{{ item.id }}">
                    {{ item.dishesname }}
                </option>
            </select>
        </n-input>
        <n-input name="Establishment">
            <select name="idestablishment" [(ngModel)]="idestablishmentValue">
                <option
                    *ngFor="let item of listEstablishment"
                    value="{{ item.id }}"
                >
                    {{ item.name }}
                </option>
            </select>
        </n-input>
        <n-input name="RemainingStock">
            <input
                name="remainingstock"
                placeholder="RemainingStock"
                type="number"
                [(ngModel)]="remainingstockValue"
            />
        </n-input>
        <n-input name="MovementType">
            <select name="idmovementtype" [(ngModel)]="idmovementtypeValue">
                <option
                    *ngFor="let item of listMovementtype"
                    value="{{ item.id }}"
                >
                    {{ item.type }}
                </option>
            </select>
        </n-input>
        <n-input name="RemainingStock">
            <input
                name="movedate"
                placeholder="Date de mouvement"
                type="datetime-local"
                [(ngModel)]="movedateValue"
            />
        </n-input>
        <app-submit-button></app-submit-button>
    </form>
    <br /></app-modal-component
><n-table>
    <thead
        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
    >
        <tr>
            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">id</th>
<th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">dishesname</th>
<th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">name</th>
<th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">remainingstock</th>
<th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">type</th>
<th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">DATE</th>

        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-400" *ngFor="let line of all | paginate:{ itemsPerPage: 10, currentPage: pages }">
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{line.id}}</td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{line.dishesname}}</td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{line.name}}</td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{line.remainingstock}}</td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{line.type}}</td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">{{line.movedate.replace('T',' ')}}</td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 "><button (click)="delete(line.id)">Supprimer</button></td>
<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 "><button (click)="update(line.id);showForm=!showForm">Update</button></td>
    </tbody>
</n-table>

<div>
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>
