<div class="w-full h-[75px] flex items-center relative">
    <button
        class="bg-black w-auto h-[50px] p-2 rounded absolute right-2 text-white"
        (click)="showForm = !showForm; isUpdate = false"
    >
        Ajouter un mouvement
    </button>
</div>
<div class="w-full h-[75px] flex items-center relative mb-2 gap-3">
    <n-input name="Etablissement">
        <input
            type="text"
            [(ngModel)]="filterName"
            class="border border-gray-300 rounded p-2"
        />
    </n-input>
    <n-input name="Date limite">
        <input
            type="date"
            placeholder="Filter by date"
            [(ngModel)]="filterDate"
            class="border border-gray-300 rounded p-2"
        />
    </n-input>
</div>
<app-modal-component [showForm]="showForm" nom="mouvements de stock">
    <form
        class="flex flex-col w-5/6 justify-center align-middle"
        action="javascript:void(0)"
        #form="ngForm"
        (ngSubmit)="onSubmit(form)"
    >
        <input *ngIf="isUpdate" type="hidden" name="id" [(ngModel)]="idValue" />
        <n-input name="Plats">
            <select name="iddishes" [(ngModel)]="iddishesValue">
                <option *ngFor="let item of listDishes" value="{{ item.id }}">
                    {{ item.dishesname }}
                </option>
            </select>
        </n-input>
        <n-input name="Etablissements">
            <select name="idestablishment" [(ngModel)]="idestablishmentValue">
                <option
                    *ngFor="let item of listEstablishment"
                    value="{{ item.id }}"
                >
                    {{ item.name }}
                </option>
            </select>
        </n-input>
        <n-input name="Quantité">
            <input
                name="remainingstock"
                type="number"
                [(ngModel)]="remainingstockValue"
            />
        </n-input>
        <n-input name="Type de mouvement">
            <select name="idmovementtype" [(ngModel)]="idmovementtypeValue">
                <option
                    *ngFor="let item of listMovementtype"
                    value="{{ item.id }}"
                >
                    {{ item.type }}
                </option>
            </select>
        </n-input>
        <n-input name="Date de mouvement">
            <input
                name="movedate"
                placeholder="Date de mouvement"
                type="datetime-local"
                [(ngModel)]="movedateValue"
            />
        </n-input>
        <app-submit-button></app-submit-button>
    </form>
    <br /></app-modal-component
><n-table>
    <thead
        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
    >
        <tr>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                id
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Plats
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                établissement
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Quantité
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                type de mouvement
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                DATE
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
            >
                Action
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr
            class="text-gray-700 dark:text-gray-400"
            *ngFor="
                let line of filteredList
                    | paginate : { itemsPerPage: 10, currentPage: pages }
            "
        >
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
                {{ line.id }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center"
            >
                {{ line.dishesname }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center"
            >
                {{ line.name }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center"
            >
                {{ line.remainingstock }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center"
            >
                {{ line.type }}
            </td>
            <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center"
            >
                {{ line.movedate.replace("T", " ") }}
            </td>
            <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 flex justify-around"
        >
            <button (click)="delete(line.id)" class="text-red-500">
                <mat-icon>delete</mat-icon>
            </button>
            <button
                (click)="update(line.id); showForm = !showForm"
                class="text-purple-500"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </td>
        </tr>
    </tbody>
</n-table>

<div>
    <!-- <pagination-template #p="paginationApi" (pageChange)="pages = $event">
        <div class="custom-pagination">
          <button class="prev-btn" [disabled]="p.isFirstPage()" (click)="p.previous()">Previous</button>
          
          <ng-container *ngFor="let page of p.pages; let i = index">
            <button
              class="page-btn"
              [class.active]="p.getCurrent() === pages"
              (click)="p.setCurrent(pages)"
              
            >
              {{ page }}
            </button>
          </ng-container>
      
          <span *ngIf="p.getCurrent() < p.pages.length - 4">...</span>
          <button
            class="page-btn"
            [class.active]="p.getCurrent() === p.pages.length"
            (click)="p.setCurrent(p.pages.length)"
          >
            {{ p.pages.length }}
          </button>
      
          <button class="next-btn" [disabled]="p.isLastPage()" (click)="p.next()">Next</button>
        </div>
      </pagination-template> -->
      
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>
