<div class="shadow-xl w-[250px] h-[300px] m-5 rounded-xl overflow-hidden flex items-center flex-col ">
    <div class="w-full h-[200px] flex justify-center items-center">
        <div class=" rounded-full w-[100px] overflow-hidden h-[100px] bg-cyan-100 object-cover">
            <img src="assets/Burger.jpg" class="w-full h-full" alt="">
        </div>
    </div>
    <div class=" w-[250px] h-[100px] flex flex-col justify-center items-center ">
        <div class="w-full h-1/2 text-center cursor-pointer">
             <mat-icon >star</mat-icon>
             <mat-icon>star</mat-icon>
             <mat-icon>star</mat-icon>
             <mat-icon>star</mat-icon>
             <mat-icon>star</mat-icon>
        </div>
        <div class="flex flex-row justify-between w-full h-1/2">
            <div class="p-2 logo w-1/3 text-center" >Name</div>
            <div class="p-2 w-1/3 text-center second-font" >Gôuter</div>
        </div>
    </div>
</div>
