<!--<app-add-to-cart-component></app-add-to-cart-component>-->
<div class="flex flex-row justify-center align-middle items-center max-h-[100vh] h-[90vh] top-[10vh] relative overflow-y-scroll p-2">
  <div class="grid grid-cols-3 absolute top-0 gap-[10vh]">
    <app-food-card *ngFor="let item of content" imageName="{{item.image}}" idFood="{{item.id}}" supplier="{{item.namesupplier}}" name="{{item.dishesname}}" price="{{item.sellingprice}}" type="{{item.libelle}}"></app-food-card>
  </div>
</div>

