<a href="{{href}}" class="navside w-full bg-white  h-[40px] flex flex-row " (mouseenter)="sidePad = !sidePad" (mouseleave)="sidePad = !sidePad">
    <!-- <div class="w-2 h-full bg-black">

    </div>
    <div class="w-[100%] h-full absolute">
        <a href="" class="w-full h-full absolute bg-amber-400"><span class="absolute">Plats</span></a>
    </div> -->
    <div class="bg-red-400 duration-300 rounded-xl" [ngClass]="sidePad ? 'w-2' : 'w-0'">
        <span class=""> 
            
        </span>
    </div>
    <div class="w-[calc(95%)] flex items-center px-2">
        <p>{{linkLabel}}</p>
    </div>
</a>
